nav li {
    display: block;
    float: right;

}


.navbar {
    background-color: white;
    width: 100%;
}

.nav-link {
    color: black !important;
    font-weight: 600;
    float: right;
    text-align: right;
}

a:hover {

}

a {

}

.active {

    color: black !important;
}


